*{
    box-sizing: border-box;
    margin: 0;
}

ul{
    list-style: none;
}

.img{
    width: 100%;
}

.form-control{
    resize: none;
}

#img2{
    width: 50%;
    margin: 20px;
    border: 0.2rem solid black;
}

#img3{
    width: 50%;
    margin-bottom: 20px;
    border: 0.2rem solid black;
}

.imgRedonda{
    width: 60%; /*Ver modificacion*/
}

.navbar{
    padding: 0;
    border-bottom: 0.15rem solid black;
    position: fixed;
    width: 100%;
}

.ImagenCentral{
    border-bottom: 0.15rem solid black;
    padding-top: 2rem;
}

button{
    font-size: 1em;
    padding: 0.5em;
    border-radius: 1em;
    background-color: #f57c19;
    color: white;
    border: 0.15em solid black;
}

/*.conteiner{
    margin: auto;
    padding-bottom: 0.5rem;
}*/

.conteiner1{
    background-color: rgb(211, 159, 211);
    padding-top: 0.5rem;
    border-top: 0.1rem solid black;
}
.conteiner2{
    background-color: #f09143;
    padding-top: 0.5rem;
}

.conteiner3{
    background-color: rgb(232, 240, 123);
    border-bottom: 0.1rem solid black;
    padding-top: 0.5rem;
}

.conteiner4{
    background-color: rgb(112, 186, 236);
    padding-top: 0.5rem;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid black;
}

.Noticia{
    width: 50%;
    border: 0.1rem solid black;
}

.Noticias{
    padding-top: 1rem;
}

.Titulo{
    text-align: center;
    background-color: #118366;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    border-radius: 1rem;
    padding: 0.1rem;
    border: 0.1rem solid black;
    color: rgb(252, 252, 252);
    margin-top: 0.5rem;
}

#PrimerApartado{
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-bottom: 0.1rem solid black;
}

#SegundoApartado{
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1.5rem;
    border-bottom: 0.1rem solid black;
}

.TercerApartado{
    display: flex;
    text-align: center;
    padding-top: 1rem;
    font-size: 20px;
    justify-content: center;
}

/*Aplicando CSS al footer*/
ion-icon{
    font-size: 40px;
    color: rgb(0, 0, 0);
}
#pieDePagina{
    display: flex;
    border-bottom: 0.1rem solid black;
    background-color: rgb(238, 51, 51);
}
#redes{
    width: 50%;
    text-align: center;
    padding-top:  2rem;
    border-right: 0.1rem solid black;
    font-size: 15px;
}
#RedesSociales{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

#mapa{
    width: 50%;
    text-align: center;
    justify-content: center;
}

#pieDePagina2{
    text-align: center;
    width: 100%;
    background-color: rgb(238, 51, 51);
}

#ancla{
    text-align: center;
    background-color: rgb(238, 51, 51);
}

/*Una vez terminado con el metodo Mobile First*/
@media (min-width: 960px){
    #PrimerApartado{
        display: flex;
        padding-right: 15rem;
        padding-left: 15rem;
        align-items: center;
    }
    #img2{
        width: 20rem;
    }
    #SegundoApartado{
        display: flex;
        padding-right: 15rem;
        padding-left: 15rem;
        align-items: center;
    }
    #img3{
        width: 20rem;
    }
    .imgRedonda{
        width: 10rem;
    }
    #Exclusivo{
        display: flex;
        justify-content: space-evenly;
    }
    .TercerApartado{
        width: 30rem;
        justify-content: space-evenly;
    }
    .CuartoApartado{
        display: flex;
    }
    #exclusivamente{
        display: flex;
    }
    #mapa{
        border-right: 0.1rem solid black;
        width: 52.5rem;
    }
    #pieDePagina2{
        border-bottom: 0.1rem solid black;
    }
    #maps{
        width: 500px;
    }
}